nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
   
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
nav h1{
    
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 2px;
}
nav ul li{
    display: inline-block;
    margin:5px 20px;
    font-size: 16px;
    font-weight: 500;
}
.menu-icon{
    display: none;

}
@media (max-width: 635px){
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right:0;
        bottom: 0;
        background: #212022;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 24px 25px;
    }
    .menu-icon{
        display: block;
        width: 60px;
        cursor: pointer;
        filter: invert(1);
        rotate: calc(45deg);
        
    }
    .mobile-menu{
        right: -200px;
        
        
    }
    
}